* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
}

/* Styling for the header component and its elements */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: aqua;
}

.header-right-side{
  text-align: center;
  line-height: 50%;
  color: white;
}

.logo-pic{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

/* styling for the meme-form component */
.meme-form{
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.meme-inputs{
  display: flex;
}

.meme-inputs input{
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(6, 207, 243);
  border-radius: 20px;
}

.submit-meme-form{
  background: blueviolet;
  color: white;
  border: none;
  padding: 2% 30%;
  margin-top: 10%;
  font-size: 24px;
  border-radius: 10px;
}

.current-meme{
  margin: 30px;
  height: 60vh;
  width: 90vw;
}

@media screen and (min-width: 900px) {
  .current-meme{
    height: 800px;
    width: 800px;
  }
}