* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
}

/* Styling for the header component and its elements */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: aqua;
}

.header-right-side{
  text-align: center;
  line-height: 50%;
  color: white;
}

.logo-pic{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

/* styling for the meme-form component */
.meme-form{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.meme-inputs{
  display: flex;
}

.meme-inputs input{
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(6, 207, 243);
  border-radius: 20px;
}

.submit-meme-form{
  background: blueviolet;
  color: white;
  border: none;
  padding: 20px 50px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 900;
  border-radius: 10px;
}

.current-meme{
  margin: 30px;
  height: 60vh;
  width: 90vw;
}

/* styling for displaying text on meme image */
.meme-display{
  position: relative;
}

.meme-text{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.top{
  top: 20px;
}

.bottom{
  bottom: 20px;
}

@media screen and (min-width: 900px) {
  .current-meme{
    margin: 30px;
    height: 800px;
    width: 800px;
  }
}