* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: aqua;
}

.header-right-side{
  text-align: center;
  line-height: 50%;
}

.logo-pic{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}